<h1>Editing motivational_image</h1>

<%= render 'form' %>

<%= link_to 'Show', @motivational_image, class: "button radius"  %>
<%= link_to 'Back', motivational_images_path, class: "button radius"  %>
