<tr>
  <td><%= @food_category.name %></td>
  <td><%= link_to 'Show', @food_category %></td>
  <td><%= link_to 'Edit', edit_food_category_path(@food_category) %></td>
  <td><%= link_to 'Destroy', @food_category, method: :delete, data: {confirm: 'Are you sure?', remote: true} %></td>
</tr>