<h1>Editing food category</h1>
<%= link_to 'Back', food_categories_path , class: "small button radius"  %>
<%= render 'form' %>

<%= link_to 'Show', @food_category , class: "small button radius"  %>

