<h1>Editing food intake log</h1>
<%= link_to 'Back', food_intake_logs_path, class: "small button radius" %>
<%= render 'form' %>

<%= link_to 'Show', @food_intake_log, class: "small button radius" %>

